/* App.css or appropriate CSS file */

.btn-custom {
  margin: 5px; /* Adds space around buttons */
  padding: 10px 15px; /* Adds padding inside the buttons */
  font-weight: bold; /* Makes the text bold */
  border-radius: 5px; /* Rounds the corners of the buttons */
}

/* Styles for the Submit button */
.btn-success {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
}

.btn-success:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Styles for Edit button */
.btn-edit {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
}

.btn-edit:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styles for Publish button */
.btn-publish {
  background-color: #ffc107; /* Yellow background */
  color: white; /* White text */
  border: none; /* No border */
}

.btn-publish:hover {
  background-color: #e0a800; /* Darker yellow on hover */
}

/* Styles for Delete button */
.btn-danger {
  background-color: #dc3545; /* Red background */
  color: white; /* White text */
  border: none; /* No border */
}

.btn-danger:hover {
  background-color: #c82333; /* Darker red on hover */
}
/* App.css or appropriate CSS file */

/* Styles for the Edit link */
.badge-warning {
  background-color: #ffc107; /* Yellow background */
  color: white; /* White text */
  padding: 10px 15px; /* Adds padding */
  border-radius: 5px; /* Rounds the corners */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes the text bold */
  transition: background-color 0.3s; /* Adds transition for hover effect */
}

.badge-warning:hover {
  background-color: #e0a800; /* Darker yellow on hover */
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
